@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/report">Report</a>.</p>
    <p>Learn about <a href="/proposal/pdf">Export</a>.</p>
</div>
